/* font */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500;700&display=swap');

/* system setting */
:root {
    --header-color: #fff;

    --primary-color-white: #fff;
    --primary-color-gray: #cecece;
    --primary-color-black: #000;

    --font-color-white: #ccc;
    --font-color-black: #000;
    --font-color-gray: #ccc;
    --font-color-warning: #ff0000;
}

body {
    margin: 0;
    font-family: 'Quicksand', sans-serif !important;
}

body::-webkit-scrollbar {
    width: 5px;
    height: 8px;
    background-color: #aaa;
}

body::-webkit-scrollbar-thumb {
    background: #000;
}

.container {
    max-width: 1920px;
    width: 100%;
    padding-right: 0 !important;
    padding-left: 0 !important;
}

.header .container {
    max-width: 1920px !important;
}



/* top header Slider */
.wrapper {
    position: relative;
    max-width: 1920px;
    width: 100%;
}

.card-wrapper,
.card-wrapper-mobile {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 100%;
    overflow-x: auto;
    cursor: grab;
    scroll-snap-type: x mandatory;
    /* scroll-padding-inline: 24px; */
    scroll-behavior: smooth;
    scrollbar-width: none;
}

.card-wrapper::-webkit-scrollbar,
.card-wrapper-mobile::-webkit-scrollbar {
    display: none;
}

.card-wrapper.grab,
.card-wrapper-mobile.grab {
    cursor: grabbing;
    user-select: none;
    scroll-snap-type: none;
    scroll-behavior: auto;
}


.card-wrapper.no-smooth,
.card-wrapper-mobile.no-smooth {
    scroll-behavior: auto;
}

.card-item {
    scroll-snap-align: start;
    overflow: hidden;
    background: var(--primary-color-black);
    text-align: center;
}

.card-item img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.card-info {
    /* padding: 2px; */
    display: block;
    text-decoration: none;
    color: var(--font-color-white);
    font-size: 12px;
    font-weight: 500;
    /* width: 500px; */
    margin: auto;
}

.card-info>p>strong {
    font-weight: 700;
}

.card-info>p {
    padding: 8px;
    margin: 0;
}

@media screen and (max-width: 575px) {
    .arrow {
        display: none;
    }

    .card-wrapper {
        grid-auto-columns: 100%;
    }

    .card-wrapper-mobile {
        grid-auto-columns: 100%;
    }
}

/* end: Slider */

/* top header social */
.social {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 4px 8px;
    background: var(--primary-color-black);
}

.social .left {
    /* width: 100%; */
    padding: 4px;
}

.social .left p {
    margin: 0;
    color: var(--font-color-white);
    font-size: 12px;
}

.social .right .list-item {
    display: flex;
    flex-direction: row;
    padding: 0;
    margin: 0;
    list-style: none;
    gap: 0.2rem;
}

.social .right .list-item .list-item-child a {
    color: var(--font-color-white);
}

.social .right .list-item .list-item-child a>i {
    font-size: 24px;
    padding: 4px;
}

/* .social .right .list-item>a{
    height: 100%;
} */

/* end top header social */

/* Main header */
.main-header {
    display: grid;
    grid-template-columns: 25% 50% 25%;
    padding: 4px 8px;
    align-items: center;
    border-bottom: 0.5px solid #ccc;
    background: var(--primary-color-white);
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    height: 70px;
    transition: top 0.5s;
    z-index: 999;
}

.main-header .logo {
    margin-left: auto;
    margin-right: auto;
}

.main-header .logo .logo-title {
    display: block;
    width: 213px;
    margin: auto;
}

.main-header .logo>a {
    text-decoration: none;
    color: var(--font-color-black);
}

.main-header .logo .logo-title>h1 {
    margin: 0;
    text-transform: uppercase;
    font-weight: 700;
}

.main-header .menu {
    text-align: center;
}

.main-header .menu .item-menu {
    display: flex;
    flex-direction: row;
    list-style: none;
    padding-left: 0;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.main-header .menu .item-menu .item-menu-child .title {
    font-size: 14px;
    text-transform: capitalize;
    text-decoration: none;
    color: var(--font-color-black);
    font-weight: 500;
}

.main-header .menu .item-menu .item-menu-child .title.active {
    color: var(--font-color-warning);
    font-weight: 500;
}

.main-header .cart {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 1rem;
    padding-right: 40px;
    padding: 4px;
    padding-right: 50px;
}

.main-header .cart>i {
    font-size: 30px;
    text-decoration: none;
    color: var(--font-color-black);
    cursor: pointer;
}

.main-header .cart .cart-form {
    position: fixed;
    transition: right 0.3s;
    top: 0;
    right: -30%;
    padding: 16px;
    width: 300px;
    height: 100%;
    background: var(--primary-color-white);
    border-left: 1px solid var(--primary-color-gray);
    overflow: auto;
    overflow-x: hidden;
    z-index: 999;
}

.main-header .cart.cart-menu .cart-form {
    right: 0;
}

.main-header .cart .cart-form .title,
.main-header .cart .cart-form .total {
    display: grid;
    grid-template-columns: 50% 50%;
    /* margin: 16px 0; */
    align-items: center;
}

.main-header .cart .cart-form .title {
    padding: 8px 0;
    border-bottom: 1px solid var(--primary-color-gray);
}

.main-header .cart .cart-form .total {
    padding: 8px 0;
    border-top: 1px solid var(--primary-color-gray);
}

.main-header .cart .cart-form .title>p,
.main-header .cart .cart-form .total>p {
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    margin: 0;
}

.main-header .cart .cart-form .total .total-sum {
    font-size: 16px;
    color: var(--font-color-warning);
    text-align: right;
}

.main-header .cart .cart-form .title>i {
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
    margin: 0;
    text-align: right;
    cursor: pointer;
}

.main-header .cart .cart-form .cart-item .item {
    display: grid;
    grid-template-columns: 30% 50% 20%;
    gap: 1rem;
    padding: 16px 0;
    border-bottom: 1px solid var(--primary-color-gray);
}

.main-header .cart .cart-form .cart-item .item .left>img {
    width: 80px;
    height: 100px;
    border-radius: 8px;
}

.main-header .cart .cart-form .cart-item .item .center {
    display: grid;
    grid-template-columns: 100%;
}

.main-header .cart .cart-form .cart-item .item .center>p {
    text-transform: capitalize;
    font-size: 12px;
    font-weight: 500;
    margin: 0;
}

.main-header .cart .cart-form .cart-item .item .center .price {
    font-size: 12px;
    font-weight: 700;
    color: var(--font-color-warning);
}

.main-header .cart .cart-form .cart-item .item .right>i {
    cursor: pointer;
    font-size: 22px;
}

.main-header .cart .cart-form .pay-ment {
    text-align: right;
}

.main-header .cart .cart-form .pay-ment>input {
    background: var(--primary-color-black);
    color: var(--primary-color-white);
    font-size: 12px;
    /* font-weight: 700; */
    text-transform: uppercase;
    padding: 8px 16px;
    border-radius: 4px;
    border: none;
    width: 100%;

}

.header .container .main-header .button-menu-mobile {
    display: none;
}

/* reposive Table */
@media screen and (max-width: 1200px) {
    .header .container .main-header {
        position: relative;
        display: grid;
        grid-template-columns: 25% 50% 25%;
        z-index: 1;
    }

    .header .container .main-header .menu {
        display: none;
    }

    .header .container .main-header .button-menu-mobile {
        display: block;
    }

    .main-header .logo .logo-title {
        width: auto;
    }

    .header .container .main-header .button-menu-mobile .menu-mobile {
        position: relative;
    }

    .header .container .main-header .button-menu-mobile .nav-control {
        position: absolute;
        /* visibility: hidden; */
        left: -90%;
        width: 100%;
        height: 30px;
        /* clip: rect(0, 0, 0, 0);    */
    }

    .header .container .main-header.sticky {
        position: fixed !important;
        top: 0;
        width: 100%;
        height: 70px;
        transition: top 0.5s;
    }


    .header .container .main-header .button-menu-mobile>i {
        font-size: 24px;
        padding: 4px;
        color: var(--font-color-black);
    }

    .header .container .main-header .button-menu-mobile .menu {
        display: block;
        position: fixed;
        background: var(--primary-color-white);
        top: 0;
        bottom: 0;
        left: -101%;
        overflow: hidden;
        transition: left 0.3s;
        width: 101%;
        z-index: 100;
        /* padding: 8px; */
    }

    .header .container .main-header .button-menu-mobile .menu.show {
        left: 0;
    }

    .header .container .main-header .button-menu-mobile .menu .top-menu .logo {
        background: var(--primary-color-black);
        height: 80px;
        display: grid;
        grid-template-columns: 80% 20%;
        justify-items: start;
        align-items: center;
        padding: 8px;
    }

    .header .container .main-header .button-menu-mobile .menu .top-menu .logo>i {
        color: var(--font-color-gray);
        font-size: 40px;
        width: 100%;
        text-align: right;
    }

    .header .container .main-header .button-menu-mobile .menu .top-menu .services {
        padding: 16px 8px;
        background: var(--primary-color-gray);
    }

    .header .container .main-header .button-menu-mobile .menu .top-menu .services>ul {
        display: grid;
        grid-template-columns: 25% 25% 25%;
        justify-content: space-between;
        list-style: none;
        padding: 0;
        margin: 0;
    }

    .header .container .main-header .button-menu-mobile .menu .top-menu .services>ul>li {
        /* padding: 8px; */
        text-align: center;
    }

    .header .container .main-header .button-menu-mobile .menu .top-menu .services>ul>li {
        display: grid;
        grid-template-columns: 100%;
        align-items: center;
    }

    .header .container .main-header .button-menu-mobile .menu .top-menu .services>ul>li .icon {
        text-align: center;
        margin-top: auto;
    }

    .header .container .main-header .button-menu-mobile .menu .top-menu .services>ul>li .icon>i {
        font-size: 30px;
    }

    .header .container .main-header .button-menu-mobile .menu .top-menu .services>ul>li .discription>span {
        font-size: 12px;
        margin-bottom: auto;
    }

    .header .container .main-header .button-menu-mobile .menu .top-menu .logo>a {
        color: var(--font-color-gray);
        margin: 0;
    }

    .header .container .main-header .button-menu-mobile .menu .bottom-menu .item-menu {
        display: grid;
        grid-template-columns: 100%;
        justify-items: start;
        padding: 8px;
    }

    .header .container .main-header .button-menu-mobile .menu .bottom-menu .item-menu .item-menu-child .title {
        color: var(--font-color-black);
    }

    .main-header .cart .cart-form {
        right: -100%;
        width: 100%;
    }

    .main-header .cart.cart-menu .cart-form {
        right: 0;
    }

    .main-header .cart .cart-form .cart-item .item {
        grid-template-columns: 25% 50% 22%;
    }

    .main-header .cart .cart-form .cart-item .item .center {
        text-align: center;
    }

    .main-header .cart .cart-form .cart-item .item .right {
        width: 100%;
        text-align: right;
    }

    .main-header .cart .cart-form .cart-item .item .right>i {
        font-size: 30px;
    }

    .main-header .cart .cart-form .cart-item .item .left>img {
        width: 150px;
        height: 150px;
    }

    .main-header .cart .cart-form .cart-item .item .center>input {
        margin: auto;
    }
}

/* reposive mobile */
@media screen and (max-width: 575px) {
    .header .container .main-header {
        position: relative;
        display: grid;
        grid-template-columns: 25% 50% 25%;
        z-index: 1;
    }

    .header .container .main-header.sticky {
        position: fixed !important;
        top: 0;
        width: 100%;
        height: 70px;
        transition: top 0.5s;
    }

    .header .container .main-header .menu {
        display: none;
    }

    .header .container .main-header .button-menu-mobile {
        display: block;
    }

    .main-header .logo .logo-title {
        width: auto;
    }

    .header .container .main-header .button-menu-mobile .menu-mobile {
        position: relative;
    }

    .header .container .main-header .button-menu-mobile .nav-control {
        position: absolute;
        /* visibility: hidden; */
        left: -90%;
        width: 100%;
        height: 30px;
        /* clip: rect(0, 0, 0, 0);    */
    }




    .header .container .main-header .button-menu-mobile>i {
        font-size: 24px;
        padding: 4px;
        color: var(--font-color-black);
    }

    .header .container .main-header .button-menu-mobile .menu {
        display: block;
        position: fixed;
        background: var(--primary-color-white);
        top: 0;
        bottom: 0;
        left: -101%;
        overflow: hidden;
        transition: left 0.3s;
        width: 101%;
        height: 100%;
        z-index: 100;
        /* padding: 8px; */
    }

    .header .container .main-header .button-menu-mobile .menu.show {
        left: 0;
    }

    .header .container .main-header .button-menu-mobile .menu .top-menu .logo {
        background: var(--primary-color-black);
        height: 80px;
        display: grid;
        grid-template-columns: 80% 20%;
        justify-items: start;
        align-items: center;
        padding: 8px;
    }

    .header .container .main-header .button-menu-mobile .menu .top-menu .logo>i {
        color: var(--font-color-gray);
        font-size: 40px;
        width: 100%;
        text-align: right;
    }

    .header .container .main-header .button-menu-mobile .menu .top-menu .services {
        padding: 16px 8px;
        background: var(--primary-color-gray);
    }

    .header .container .main-header .button-menu-mobile .menu .top-menu .services>ul {
        display: grid;
        grid-template-columns: 25% 25% 25%;
        justify-content: space-between;
        list-style: none;
        padding: 0;
        margin: 0;
    }

    .header .container .main-header .button-menu-mobile .menu .top-menu .services>ul>li {
        /* padding: 8px; */
        text-align: center;
    }

    .header .container .main-header .button-menu-mobile .menu .top-menu .services>ul>li {
        display: grid;
        grid-template-columns: 100%;
        align-items: center;
    }

    .header .container .main-header .button-menu-mobile .menu .top-menu .services>ul>li .icon {
        text-align: center;
        margin-top: auto;
    }

    .header .container .main-header .button-menu-mobile .menu .top-menu .services>ul>li .icon>i {
        font-size: 30px;
    }

    .header .container .main-header .button-menu-mobile .menu .top-menu .services>ul>li .discription>span {
        font-size: 12px;
        margin-bottom: auto;
    }

    .header .container .main-header .button-menu-mobile .menu .top-menu .logo>a {
        color: var(--font-color-gray);
        margin: 0;
    }

    .header .container .main-header .button-menu-mobile .menu .bottom-menu .item-menu {
        display: grid;
        grid-template-columns: 100%;
        justify-items: start;
        padding: 8px;
    }

    .header .container .main-header .button-menu-mobile .menu .bottom-menu .item-menu .item-menu-child .title {
        color: var(--font-color-black);
    }

    .main-header .cart .cart-form {
        right: -100%;
        width: 100%;
    }

    .main-header .cart.cart-menu .cart-form {
        right: 0;
    }

    .main-header .cart .cart-form .cart-item .item {
        grid-template-columns: 21% 50% 20%;
    }

    .main-header .cart .cart-form .cart-item .item .center {
        text-align: center;
    }

    .main-header .cart .cart-form .cart-item .item .right {
        width: 100%;
        text-align: right;
    }

    .main-header .cart .cart-form .cart-item .item .right>i {
        font-size: 30px;
    }

    .main-header .cart .cart-form .cart-item .item .center>input {
        margin: auto;
    }

    .main-header .cart .cart-form .cart-item .item .left>img {
        width: 75px;
        height: 100px;
    }

    .page .container .banner .bottom-banner>ul {
        grid-template-columns: 100% !important;
    }
}

/* end main header */

/* page */
.page {
    /* height: 500px; */
}

.page .container {
    max-width: 1920px;
}


.page .container .banner>a>img {
    height: auto;
    object-fit: cover;
    width: 100%;
}



.page .container .product-list,
.page .container .blogs {
    display: grid;
    grid-template-columns: 100%;
    gap: 3rem;
    padding: 1rem 5rem;
}

.page .container .product-list>p,
.page .container .blogs>p {
    text-align: center;
    font-size: 22px;
    text-transform: uppercase;
    font-weight: 700;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.page .container .product-list .list-item {
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 1rem;
}

.page .container .banner-qr a>img {
    object-fit: cover;
    height: 150px;
    width: 100%;
    margin: 2rem 0;
}

.page .container .list-item .item a {
    text-decoration: none;
    color: var(--font-color-black);
}

.page .container .list-item .item a>img {
    width: 100%;
    height: 400px;
}

.page .container .list-item .item a .bottom-item {
    display: grid;
    grid-template-columns: 50% 50%;
    padding: 0.5rem 0;
    align-items: center;
}

.page .container .list-item .item a .bottom-item>h1,
.page .container .list-item .item a .bottom-item>p {
    font-size: 18px;
    margin: 0;
}

.page .container .list-item .item a .bottom-item>p {
    font-size: 16px;
    font-weight: 700;
    text-align: right;
    font-family: 'Dancing Script', cursive;
}



.page .container .blogs .item {
    position: relative;
    width: 100%;
}

.page .container .blogs .list-item {
    display: grid;
    grid-auto-columns: calc(100% /2);
    grid-auto-flow: column;
    overflow-x: auto;
    cursor: grab;
    scroll-snap-type: x mandatory;
    /* scroll-padding-inline: 24px; */
    scroll-behavior: smooth;
    scrollbar-width: none;
    gap: 2rem;
}

.page .container .blogs .list-item::-webkit-scrollbar {
    display: none;
}

.page .container .blogs .item a>img {
    width: 100%;
    height: 300px;
}

.page .container .blogs .item a>h1 {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    text-transform: uppercase;
    padding: 2rem;
    color: var(--font-color-white);
    font-size: 20px;
    background: rgba(0, 0, 0, 0.342);
}

@media screen and (max-width: 1200px) {
    .carousel img {
        width: 100%;
    }

    .page .container .product-list .list-item {
        grid-template-columns: auto auto auto auto;
    }

    .page .container .product-list {
        padding: 1rem 2rem;
    }

    .page .container .list-item .item a .bottom-item {
        grid-template-columns: 100%;
    }

    .page .container .list-item .item a .bottom-item>p {
        text-align: left;
    }



    .page .container .list-item .item a>img {
        width: 100%;
        height: 200px;
    }

    .page .container .banner>a>img {
        height: 600px;
    }
}

@media screen and (max-width: 575px) {
    .carousel img {
        width: 100%;
    }

    .page .container .product-list .list-item {
        grid-template-columns: auto auto;
    }

    .page .container .product-list {
        padding: 1rem 1rem;
    }

    .page .container .list-item .item a .bottom-item {
        grid-template-columns: 100%;
    }

    .page .container .list-item .item a .bottom-item>p {
        text-align: left;
    }

    .page .container .list-item .item a>img {
        width: 100%;
        height: 250px;
    }

    .page .container .banner>a>img {
        height: 400px;
    }
}

/* end page */

/* footer */
footer {
    /* margin-top: auto; */
    background-color: var(--primary-color-black);
    padding: 32px 8px 16px 8px;
}

footer .container {
    max-width: 1920px !important;
}

footer .container .main-footer {
    display: grid;
    grid-template-columns: 24% 24% 24% 24%;
    gap: 1rem;
    padding: 16px 0;
}

footer .container .main-footer .google-map iframe {
    width: 100%;
    height: 150px;
}

footer .container .main-footer p,
footer .container .main-footer h1,
footer .container .main-footer a,
footer .container .bottom-footer p,
footer .container .bottom-footer a {
    color: var(--font-color-white);
    text-transform: capitalize;
    text-decoration: none;
    font-size: 12px;
    margin: 0;
}

footer .container .main-footer h1 {
    font-size: 16px;
    margin-bottom: 8px;
}


footer .container .main-footer ul {
    padding: 0;
    list-style: none;

}

footer .container .main-footer .about-us p {
    text-transform: inherit !important;
}

footer .container .main-footer .contact .contact-item .contact-item-child a,
footer .container .bottom-footer a {
    text-transform: none;
}

footer .container .bottom-footer {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-between;
    align-items: end;
    gap: 1rem;
    border-top: 1px solid #fff;
    padding: 16px 0 0 0;
}

footer .container .bottom-footer .infor p,
footer .container .bottom-footer .infor a {
    text-transform: uppercase !important;
}

@media screen and (max-width: 1200px) {
    footer .container .main-footer {
        display: grid;
        grid-template-columns: 49% 49%;
        gap: 1.5rem;
        padding: 16px;
    }

    footer .container .main-footer .google-map iframe {
        width: 100%;
        height: 150px;
    }

    footer .container .bottom-footer {
        grid-template-columns: auto auto;
        padding: 16px;
        justify-content: space-between;
        align-items: end;
    }

    footer .container .bottom-footer {
        gap: 0.2rem;
    }

    footer .container .main-footer .google-map iframe {
        width: 100%;
        height: 150px;
    }
}

@media screen and (max-width: 575px) {
    footer .container .main-footer {
        display: grid;
        grid-template-columns: 100%;
        gap: 1.5rem;
        padding: 16px;
    }

    footer .container .main-footer .google-map iframe {
        width: 100%;
        height: 150px;
    }

    footer .container .main-footer h1 {
        font-size: 18px;
    }

    footer .container .main-footer p,
    footer .container .main-footer h1,
    footer .container .main-footer a {
        font-size: 16px;
    }

    footer .container .bottom-footer p,
    footer .container .bottom-footer a {
        font-size: 12px;
    }

    footer .container .bottom-footer {
        grid-template-columns: 100%;
        padding: 16px;
    }

    footer .container .bottom-footer .infor p,
    footer .container .bottom-footer .infor a,
    footer .container .bottom-footer .copyright {
        text-align: center;
    }

    footer .container .bottom-footer {
        gap: 0.2rem;
    }
}

/* end footer */